@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=PT+Sans&family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --ft-weight: 400;
    --input-box-margin: 20px;
    --input-width: 200px;
}

body {
    padding:0;
    margin: 0;
    height: 100vh;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

#main-page {
    display: flex;
}

/* Left side of main page */

div.left-side {
    position: relative;
}

div.left-side img {
    height: 100%;
}

.logo-section {
    position: absolute;
    bottom: 60%;
    background-color: black;
    width: 100%;
    height: 20%;
    opacity: 0.4;
}

div.logo-text {
    height: 20%;
    position: absolute;
    bottom: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

.logo-text div:nth-child(2){
    color:white;
    font-size: 3rem;
    padding-bottom: 10px;
}

/* svg{
    position: absolute;
    left: 10%;
    top: 20%;
} */
/* 
.left-side > div:nth-child(4) {
    position: absolute;
    color: white;
    bottom: 66%;
    left: 40%;
    font-size: 2rem;
} */

/* Right side of main page */

div.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: linen;
}

div.description {
    padding-left: 8%;
    font-weight: var(--ft-weight);
}

.description p:last-child {
    margin-bottom: 0;
}

div.input-box {
    background-color: white;
    margin: 5px 0;
    padding: 5px 0 5px 8%;
    border-top: solid 2px lightcoral;
    border-bottom: solid 2px lightcoral;
}

.input-box > h3 {
    font-weight: lighter;
    margin-top: var(--input-box-margin);
    margin-bottom: var(--input-box-margin);
}

.input-box .inline:last-child {
    margin-bottom: calc(var(--input-box-margin) + 10px);
}

.inline {
    display: flex;
    gap: 1rem;
    margin-bottom: var(--input-box-margin);
}

.form-column {
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
    font-size: 0.7rem;
    font-weight: bolder;
    font-family: 'Merriweather', serif;
    color: grey;
    cursor: pointer;
}

input {
    width: var(--input-width);
    border-radius: 5px;
    padding: 4px 6px 4px 6px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: grey;
    border: none;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

input:focus{
    box-shadow: rgb(144, 170, 99) 0px 0px 0px 3px;
    outline: none;
}

input:valid {
    background-color: none;
}

input:-webkit-autofill {
    -webkit-text-fill-color: grey;
    -webkit-box-shadow: 0 0 0 30px white inset,rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset,rgb(144, 170, 99) 0px 0px 0px 3px;
}

.form-submit-column {
    padding-left: 8%;
    font-weight: var(--ft-weight);
}

button[type="submit"] {
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: rgb(77, 73, 73);
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: grey;
}
  
button[type="submit"]:active {
    background-color: rgb(53, 48, 48);
}

a {
    color: lightcoral;
    text-decoration: none;
    font-weight: bold;
}

/* Media queries for laptop */

@media only screen and (min-height: 550px) {
    
    div.left-side img {
         height: 100vh;
    }
}

@media only screen and (min-width: 749px) {

    :root{
        font-size:18px;
    }

    div.left-side img {
        width: 35vw;
    }

    div.right-side {
        width: calc(100vw - 35vw);
    }

    div.inline {
        gap: 3.125rem;
    }

}

@media only screen and (min-width:950px) {

    input{
        width: calc(var(--input-width) + 50px);
    }

}

/* Media query for monitor */

@media only screen and (min-width:1400px) {
    :root{
        font-size: 23px;
    }

    input {
        width: calc(var(--input-width) + 150px);
    }

    @media only screen and (max-height: 718px) {
    
        div.left-side img {
             height: 100%;
        }

    }
}

@media only screen and (min-height: 800px) {
    
    :root{
        font-size: 23px;
    }

}